.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    gap: .4rem;
    margin-bottom: 1rem;
}

.filler-container{
    display: flex;
    align-items: baseline;
    width: 18rem;
}

.filler{
    margin: 0rem 0.4rem;
    padding-left: 0.2rem;
    height:0.4rem;
    background-color: #590696;
    border-radius: 1rem;
}