.App{
    display: flex;
    gap: 1rem;

    margin-top: 2rem;
}

.expense-items-container{
    width: 32rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;


    padding: 0.1rem;
    border-radius: 1rem;
    height: 41rem;

    overflow-y: scroll;
}

.expense-items-outer-container{
    overflow: hidden;
    border-radius: 1rem;
    border: 1px solid black;
}